<div class="jumbotron">
  <h1>Login</h1>
</div>	

<form action="/proyectos" method="POST">
	  Usuario: <input type="text" autofocus="autofocus" required="required" name="user"> </br>
	  Contrasena: <input type="password" autofocus="autofocus" required="required" name="password">
	  <input type="submit" value="Aceptar">
	</form>
